* {
    box-sizing: border-box;
    background-color: #fff;
  }
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  
    outline: 2px solid;
  }
  
  .field {
    width: 150px;
    height: 150px;
    border: 2px solid;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  